/* Base styling*/
body {
  background-color: lightgrey;
  max-width: 768px;
  margin: 0 auto;
  padding: 1em 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu {
  background-color: white;
  width: 25%;
  border-radius: 10px;
  position: absolute;
  top: 7rem;
}

li {
  text-decoration: none;
}